<header id="header">
				<h1 id="logo"><a href="{{ site.baseurl }}/">THINKBASE</a></h1>
				<nav id="nav">
					<ul>
						<!-- <li><a href="{{ site.baseurl }}/">Welcome</a></li>
                        <li><a href="{{ site.baseurl }}/blog.html">Blog</a></li> -->
						<li class="submenu">
							<a href="">T series</a>
							<ul>
								<!-- <li><a href="{{ site.baseurl }}/contact.html">Contact</a></li> -->
								<li class="submenu">
									<a href="">T#80</a>
									<ul>
										<li><a href="#">T480</a></li>
										<li><a href="#">T480s</a></li>
										<li><a href="#">T580</a></li>
									</ul>
								</li>
								<li class="submenu">
									<a href="">T#70</a>
									<ul>
										<li><a href="#">T470</a></li>
										<li><a href="#">T470p</a></li>
										<li><a href="#">T470s</a></li>
										<li><a href="#">T570</a></li>
										<li><a href="#">T25</a></li>
									</ul>
								</li>
								<li class="submenu">
									<a href="">T#60</a>
									<ul>
										<li><a href="#">T460</a></li>
										<li><a href="#">T460p</a></li>
										<li><a href="#">T460s</a></li>
										<li><a href="#">T560</a></li>
									</ul>
								</li>
								<li class="submenu">
									<a href="">T#50</a>
									<ul>
										<li><a href="#">T450</a></li>
										<li><a href="#">T450p</a></li>
										<li><a href="#">T450s</a></li>
										<li><a href="#">T550</a></li>
									</ul>
								</li>
								<li class="submenu">
									<a href="">T#40</a>
									<ul>
										<li><a href="#">T440</a></li>
										<li><a href="#">T440p</a></li>
										<li><a href="#">T440s</a></li>
										<li><a href="#">T540</a></li>
										<li><a href="#">T540p</a></li>
									</ul>
								</li>
								<li class="submenu">
									<a href="">T#30</a>
									<ul>
										<li><a href="#">T430</a></li>
										<li><a href="#">T430i</a></li>
										<li><a href="#">T430s</a></li>
										<li><a href="#">T430u</a></li>
										<li><a href="#">T530</a></li>
										<li><a href="#">T530i</a></li>
									</ul>
								</li>
							</ul>
						</li>
						<!-- <li><a href="#" class="button special">Sign Up</a></li> -->
					</ul>
				</nav>
			</header>